<div class="common-modal green-modal">
    <div class="modal-header">
        <h1 class="modal-title fs-5">Marketing Campaigns</h1>
        <div class="d-flex align-items-center ms-auto">
            <button class="gray-btns me-2" (click)="onDownload()" type="button">
                <i class="las la-file-excel"></i> Export
            </button>
            <button type="button" class="btn-close" (click)="onCancel()" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
    </div>
    <div class="modal-body mb-0">
        <app-loading-spin-popup *ngIf="isProceess"></app-loading-spin-popup>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone No</th>
                        <th>Status</th>
                        <th>Reason</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of data">
                        <td>{{customer.name}}</td>
                        <td>{{ customer.number }}</td>
                        <td>{{ customer.status | titlecase }}</td>
                        <td>{{ customer.sentDetail }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">Total Customers:</td>
                        <td colspan="2">{{ data.length }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Total Sent:</td>
                        <td colspan="2">{{ countStatus('sent') }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">Total Failed:</td>
                        <td colspan="2">{{ countStatus('Failed') }}</td>
                    </tr>
                </tfoot>
            </table>


        </div>
    </div>
</div>