<app-loading-spin *ngIf="isProceess"></app-loading-spin>

<app-header></app-header>
<div class="page-title">
    <h1>Marketing Campaign</h1>
</div>

<div class="page-btns-col">
    <div class="dt-buttons">

        <div class="table-search"><input type="text" class="form-control" name="name" id="name"
                placeholder="Search here" required="" [(ngModel)]="searchTerm"></div>
    </div>

    <div class="analytics-dropcols">
        <!-- <div class="analdrop1 analdrop2">
            <label>Select Date</label>
            <select id="select-tags4" class="form-select" [(ngModel)]="selectedValue" (change)="onValueChange($event)">
                <option value="Today">Today</option>
                <option value="Yesterday">Yesterday</option>
                <option value="7">Last 7 days</option>
                <option value="30">Last 30 days</option>
                <option value="custom data">Custom date</option>

            </select>
        </div> -->

        <!-- <div class="analdrop1">
            <div class="form-group">
                <label for="startDate">From</label>
                <input class="form-control" type="date" id="startDate" name="startDate" [(ngModel)]="startDate"
                    [max]="endDate" [disabled]="selectedValue !== 'custom data'">
            </div>
        </div> -->
        <!-- <div class="analdrop1">
            <div class="form-group">
                <label for="endDate">To</label>
                <input class="form-control" type="date" id="endDate" name="endDate" [(ngModel)]="endDate"
                    [min]="startDate" [disabled]="selectedValue !== 'custom data'">
                <div *ngIf="dateRangeError" class="form-validate-err">
                    To Date must be after From Date
                </div>
            </div>
        </div> -->
        <!-- <div class="analdrop1">
            <div class="form-group">
                <label>&nbsp;</label>

                <button class="btn common-btn" *ngIf="selectedValue === 'custom data'" (click)="submitDateRange()">
                    Submit
                </button>

                <button class="btn common-btn" *ngIf="selectedValue !== 'custom data'" disabled>
                    Submit
                </button>
            </div>

        </div> -->

    </div>


    <div class="analytics-dropcols">

        <div class="analdrop1">
            <div class="form-group d-flex justify-content-end">
                <button class="btn common-btn custom-width-btn" *ngIf="selectedContacts().length > 0"
                    (click)="selectedContacts().length > 0 && getTemplates('Sir/Madam')">
                    Send New
                </button>

                <button class="btn common-btn custom-width-btn" *ngIf="selectedContacts().length == 0" disabled>
                    Send New
                </button>
            </div>

        </div>
    </div>



</div>

<div class="inner-middle-content">

    <div class="dasboard-table">

        <div class="table-responsive">

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <input class="form-check-input" type="checkbox" [(ngModel)]="isAllSelected"
                                (change)="toggleSelectAll()" />
                        </th>
                        <th>Sr.No.</th>
                        <th>Name</th>
                        <th>Phone No</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let contact of filteredContactList; let i = index">
                        <td>
                            <input class="form-check-input" type="checkbox" [(ngModel)]="contact.selected"
                                (change)="onCheckboxChange(contact)"
                                [disabled]="!contact.selected && selectedCustomersCount >= maxSelection" />


                        </td>
                        <td>{{i + 1}}</td>
                        <td>{{contact.fullName}}</td>
                        <td>{{contact.phoneNo}}
                            <span class="ctm-icone"> <i class="lab la-whatsapp"
                                    (click)="sendMessages(contact)"></i></span>
                        </td>
                        <td>{{formatDate(contact.time)}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-end">
                            <strong>Total Customers:</strong> {{ totalCustomers }} |
                            <strong>Selected Customers:</strong> {{ selectedCustomersCount }}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>