<app-loading-spin *ngIf="isProceess"></app-loading-spin>

<app-header></app-header>
<div class="page-title">
    <h1>Marketing Campaign</h1>
</div>

<div class="page-btns-col">
    <div class="dt-buttons">

        <div class="table-search"><input type="text" class="form-control" name="name" id="name"
                placeholder="Search here" required="" [(ngModel)]="searchTerm"></div>
    </div>
    <div class="analytics-dropcols">

        <div class="analdrop1">
            <div class="form-group d-flex justify-content-end">
                <button class="btn common-btn custom-width-btn" *ngIf="selectedContacts().length > 0"
                    (click)="selectedContacts().length > 0 && getTemplates('Sir/Madam')">
                    Send New
                </button>

                <button class="btn common-btn custom-width-btn" *ngIf="selectedContacts().length == 0" disabled>
                    Send New
                </button>
            </div>

        </div>
    </div>
</div>

<div class="inner-middle-content">

    <div class="dasboard-table">

        <div class="table-responsive">

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <input class="form-check-input" type="checkbox" [(ngModel)]="isAllSelected"
                                (change)="toggleSelectAll()" />
                        </th>
                        <th>Sr.No.</th>
                        <th>Name</th>
                        <th>Phone No</th>
                        <th>Last Template Sent</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="filteredContactList.length === 0">
                        <td colspan="5" class="text-center">
                            No data found.
                        </td>
                    </tr>
                    <tr *ngFor="let contact of filteredContactList | paginate : { itemsPerPage: tableSize,  currentPage: page,  totalItems: filteredContactList.length}; let i = index"
                        [ngClass]="{ 'within-24-hours': isWithinLast24Hours(contact.time), 'beyond-24-hours': !isWithinLast24Hours(contact.time) }">
                        <td>
                            <input class="form-check-input" type="checkbox" [(ngModel)]="contact.selected"
                                (change)="onCheckboxChange(contact)"
                                [disabled]="!contact.selected && (selectedCustomersCount >= maxSelection || isWithinLast24Hours(contact.time))" />
                        </td>
                        <!-- <td>{{i + 1}}</td> -->
                        <td>{{calculateIndex(page, i)}}</td>

                        <td>{{contact.fullName}}</td>
                        <td>{{contact.phoneNo}}

                        </td>
                        <td>{{formatDate(contact.time)}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-end">
                            <strong>Total Customers:</strong> {{ totalCustomers }} |
                            <strong>Selected Customers:</strong> {{ selectedCustomersCount }}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="clearfix" *ngIf="!isProceess && filteredContactList.length > 0">
            <ul class="pagination">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </ul>
        </div>
    </div>
</div>