.clschat-btn.disabled {
  pointer-events: none;
  opacity: 0.5; /* or any other value */
  /* Add other styles for a disabled appearance */
}

.checkin-btn{ margin-right: 10px; }

.checkin-btn a {
    background: #fff;
    font-size: 13px;
    font-weight: 500;
    color: #00abc5;
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid #00abc5;
}

.checkin-btn a i{ font-size:22px; vertical-align: sub; }

.checkout-btn{ margin-right: 10px; }

.checkout-btn a {
    background:#f3fffc;
    font-size: 13px;
    font-weight: 500;
    color: #00abc5;
    padding: 5px 10px;
    border-radius: 6px;
    border: 1px solid #00abc5;
}

.checkout-btn a i{ font-size:22px; vertical-align: sub; }

.invalid {
    background: #eee;
    color: #000;
}


/* Disable interaction with the element */
.disabled {
  pointer-events: none;   /* Disables click events */
  opacity: 0.5;           /* Visually indicates the element is disabled */
  cursor: not-allowed;    /* Change the cursor to indicate it's disabled */
}

/* Optional: style the image to show it's disabled */
.disabled img {
  filter: grayscale(100%); /* Grays out the image */
}

.chatwrite-emojisico{
    flex: 1;
}


/* Close button styles */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #333; /* Adjust color as needed */
}

.close-btn:hover {
  color: red; /* Change color when hovering */
}


.form-select {
    height: 36px;
}
.form-control {
    height: 36px;
}
.page-btns-col {
    align-items: end;
}

.analdrop1 {
    max-width: 100%;
    flex: auto;
    margin-right: 10px;
}

.analdrop1 .btn.common-btn {
    width: 100%;
    height: 36px;
}

.dasboard-table.dasboard-scroll {
    height: 350px !important;
    overflow: auto;
}
.ctm-icone {
    float: none;
    margin-top: -5px;
    padding-left: 10px;
}

.truncate-text {
    max-width: 150px; /* Adjust as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer; /* Change cursor on hover */
}

.truncate-text:hover {
    white-space: normal;
    overflow: visible;
    z-index: 1000; /* Ensure the tooltip appears above other elements */
    position: relative;
    background-color: #fff; /* Background color for better readability */
}

/* Style for the disabled button */
button[disabled] {
    cursor: not-allowed; /* Changes the cursor to indicate that the button is disabled */
    opacity: 0.6; /* Reduces the opacity to visually indicate it's disabled */
    background-color: #6c757d; /* Bootstrap's default disabled button color */
    border-color: #6c757d;
    /* width: 100%; */
    height: 36px;
    font-weight: 500 !important;

    font-size: 15px;
    padding: 13px 25px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    line-height: 0;
    border: 0;
    border-radius: 6px;
}

.custom-width-btn {
    max-width: 10rem;
}
