<app-header></app-header>
<app-loading-spin *ngIf="isProceess"></app-loading-spin>
<div class="page-title">
    <h1>Order List</h1>
</div>


<div class="page-btns-col">
    <div class="dt-buttons">
        <button class="gray-btns" (click)="onDownload()" type="button"><i class="las la-file-excel"></i> Excel</button>
        <div class="table-search">
            <input type="text" class="form-control" name="name" id="name" [(ngModel)]="term" autocomplete="off"
                placeholder="Search..." required="">
        </div>
    </div>

</div>
<div class="inner-middle-content">
    <div class="dashboard-wrapper-sec">

        <div class="dasboard-table">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Order ID</th>
                            <th>Customer Name</th>
                            <th>Contact No.</th>
                            <th>Order Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="
                                let i of data
                                    | customFilter : term
                                    | paginate
                                        : {
                                              itemsPerPage: tableSize,
                                              currentPage: page,
                                              totalItems: count
                                          };
                                let ind = index
                            ">
                            <td>{{ calculateIndex(page, ind) }}</td>
                            <td>{{ i.orderId }}</td>
                            <td>{{ i.customerName }}</td>
                            <td>{{ i.mobileNumber }}</td>
                            <td>{{ i.orderDate | date : "dd-MM-yyyy" }}</td>

                            <td>
                                <span [ngClass]="{
                                        'order-status': true,
                                        'bg-success':
                                            i.orderStatus === 'Delivered',
                                        'bg-warning':
                                            i.orderStatus !== 'Delivered'
                                    }">
                                    {{ i.orderStatus }}
                                </span>
                            </td>

                            <td>
                                <a [routerLink]="['order-detail', i.orderId]" [state]="{ order: i }"><i
                                        class="las la-eye"></i></a>
                                <a *ngIf="i.orderStatus != 'Delivered'" (click)="onEdit(i)"><i
                                        class="las la-edit"></i></a>

                                <!-- <a (click)="onEdit(i)"><i class="las la-edit"></i></a> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="data.length === 0" class="text-center">
                    <Strong class="text-danger">No records found</Strong>
                </div>
                <div class="text-center" *ngIf="
                        (data | customFilter : term).length === 0 &&
                        data.length > 0
                    ">
                    <Strong class="text-danger"> No results found.</Strong>
                </div>
            </div>
        </div>

        <div class="clearfix">
            <ul class="pagination">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </ul>
        </div>
    </div>
</div>
