<div class="common-modal green-modal">
    <div class="modal-header">
        <h1 class="modal-title fs-5">{{ title }}</h1>
        <button type="button" class="btn-close" (click)="onCancel()" data-bs-dismiss="modal"
            aria-label="Close"></button>
    </div>
    <div class="modal-body mb-0">
        <app-loading-spin-popup *ngIf="isProceess"></app-loading-spin-popup>
        <form class="common-modal-form" [formGroup]="issueForm" (ngSubmit)="onSubmit()">


            <div class="form-group">
                <label for="status">Status</label>
                <!-- <select class="form-select" id="status" formControlName="status">
                    <option value="Order_Receipt">Order Receipt </option>
                    <option value="Confirmation">Confirmation </option>
                    <option value="In_transit">In Transit</option>
                    <option value="Delivered">Delivered</option>

                </select> -->
                <select class="form-select" id="status" formControlName="status">
                    <option *ngFor="let status of statuses" [value]="status.value"
                        [disabled]="!isAvailable(status.value)">
                        {{ status.label }}
                    </option>
                </select>

                <div *ngIf="shouldShowError('status','required')" class="text-danger">This field is required
                </div>
            </div>
            <div class="form-group mb-0 text-end">
                <button type="submit" class="common-btn">{{this.data ?'Update Now' : 'Add New'}}</button>
            </div>
        </form>
    </div>
</div>
