<div class="loading-spin" *ngIf="loading">
    <div class="d-flex justify-content-center">
        <div class="spinner-border">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<section class="login-wrapper">
    <div class="login-logo" routerLink="/login"><a><img [src]="logoUrl" alt=""></a></div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <app-login-leftside></app-login-leftside>
            </div>
            <div class="col-lg-6">
                <div class="login-form-col">
                    <div class="login-headcontet">
                        <h1>Log in.</h1>
                    </div>
                    <form class="login-form" name="cform" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label>User Name</mat-label>
                                <input matInput type="text" formControlName="username" id="username"
                                    placeholder="User Name" autocomplete="off">
                                <mat-icon matPrefix>person</mat-icon>
                                <mat-error *ngIf="shouldShowError('username', 'required')">
                                    This field is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label>Password</mat-label>
                                <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password"
                                    id="password" placeholder="Password">
                                <mat-icon matPrefix (click)="toggleFieldTextType()">
                                    <ng-container *ngIf="showPassword; else eyeSlash">visibility</ng-container>
                                    <ng-template #eyeSlash>visibility_off</ng-template>
                                </mat-icon>
                                <mat-error *ngIf="shouldShowError('password', 'required')">
                                    This field is required
                                </mat-error>
                                <mat-error *ngIf="shouldShowError('password', 'passwordStrength')">
                                    {{ loginForm.get('password').errors['passwordStrength'] }}
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <mat-checkbox formControlName="rememberMe">Remember Me</mat-checkbox>
                                </div>
                                <div class="col-6 forgot-txt">
                                    <a routerLink="/forgot-password">Forgot password?</a>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button mat-raised-button color="primary" type="submit" [disabled]="loading"
                                class="common-btn login-btn">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Login
                            </button>

                            <div class="form-group mt-3">
                                <div class="regist-term mb-4">
                                    By clicking on “Login Button” you agree to <br> our <a
                                        routerLink="/privacy-policy">privacy policy</a>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- <div class="gosignup-link text-center">Don't have an account yet? <a routerLink="/sign-up">Sign Up</a></div> -->
                </div>
            </div>
        </div>
    </div>
</section>