<div class="static-page">
    <div class="page-title mb-0">
        <div class="main-logo mb-0"><a routerLink="/"><img src="../assets/images/logo.png" alt=""></a></div>
    </div>
</div>

<div class="inner-banner">
    <img src="../assets/images/inner-banner.jpg" class="img-responsive" alt="">
    <div class="inner-banner-text">
        <h1>Contact Us</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="contactuscol contact-left">
                <h1>Get in Touch!</h1>
                <h2>Talk to our team</h2>
                <p>Learn how to grow your business on WhatsApp with Avataara</p>
                <h2>WhatsApp us:</h2>
                <p><a href="#">+918247095980</a></p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="contactuscol contact-right">
                <h1>Our Offices</h1>
                <h2>India</h2>
                <p><strong>Team Computers Pvt Ltd</strong>, No.1, Mohammadpur, Bhikaji Cama Place
                    New Delhi – 110066, India</p>
                <h2>Write to us!</h2>
                <p>For general inquiries:<br>
                    <a href="mailto:rakesh.kanugula@teamcomputers.com">{{email}}</a>
                </p>

                <p>For support queries:<br>
                    <a href="mailto:rakesh.kanugula@teamcomputers.com">{{email}}</a>
                </p>

            </div>
        </div>

    </div>

</div>

<div class="contactcopyright">
    <div class="container">
        <p>Team Computers Pvt. Ltd. © 2024 | All rights reserved. <span><a routerLink="/">Home</a> | <a
                    routerLink="/privacy-policy">Privacy Policy</a></span></p>
    </div>
</div>
