<div class="common-modal green-modal">
    <div class="modal-header">
        <h1 mat-dialog-title>View Category</h1>

    </div>
    <div mat-dialog-content>
        <mat-dialog-content>
            <div class="row">
                <div class="col-md-4 mb-3" *ngFor="let item of categoryFields" [ngClass]="{'active-bg': item.label === 'Status' && item.value === 'Active',
                'inactive-bg': item.label === 'Status' && item.value === 'Inactive'}">
                    <div class="content-item">
                        <strong>{{ item.label }}:</strong>
                        <p>{{ item.value }}</p>
                    </div>
                </div>
            </div>

            <!-- Dialog action -->
            <mat-dialog-actions align="end">
                <button mat-raised-button color="primary" (click)="onCancel()">Close</button>
            </mat-dialog-actions>
        </mat-dialog-content>
    </div>
</div>
