<app-header></app-header>
<app-loading-spin *ngIf="isProceess"></app-loading-spin>


<div class="page-title">
    <div class="d-flex align-items-center">
        <h1 class="mb-0 me-3"><img src="../assets/images/avataara-logo.png" alt="" style="max-height: 40px;"></h1>

        <div class="homefilterdt">
            <div class="ficdrop1">
                <div class="form-group">
                    <label>Select Date</label>

                    <select id="select-tags4" class="form-select" [(ngModel)]="selectedValue"
                        (change)="onValueChange($event)">
                        <option value="Today">Today</option>
                        <option value="Yesterday">Yesterday</option>
                        <option value="7">Last 7 days</option>
                        <option value="30">Last 30 days</option>
                        <option value="custom data">Custom date</option>

                    </select>
                </div>
            </div>

            <div class="ficdrop1">
                <div class="form-group">
                    <label>From</label>
                    <input class="form-control" type="date" id="startDate" name="startDate" [(ngModel)]="startDate"
                        [max]="endDate" [disabled]="selectedValue !== 'custom data'">

                </div>
            </div>

            <div class="ficdrop1">
                <div class="form-group">
                    <label>To</label>
                    <input class="form-control" type="date" id="endDate" name="endDate" [(ngModel)]="endDate"
                        [min]="startDate" [disabled]="selectedValue !== 'custom data'">
                    <div *ngIf="dateRangeError" class="form-validate-err">
                        To Date must be after From Date
                    </div>
                </div>
            </div>

            <div class="ficdrop1">
                <div class="form-group">
                    <label class="d-none d-sm-block">&nbsp;</label>
                    <button class="btn common-btn" *ngIf="selectedValue === 'custom data'" (click)="submitDateRange()">
                        Submit
                    </button>

                    <!-- Disabled button when selectedValue is not 'custom data' -->
                    <!-- <button class="btn common-btn" *ngIf="selectedValue !== 'custom data'" disabled>
                        Submit
                    </button> -->
                    <!-- <button class="btn common-btn" (click)="submitDateRange()">Submit</button> -->
                </div>
            </div>

        </div>

    </div>
</div>



<div class="data-tabs mb-1">

    <div class="main-user-dash-left">

        <div class="dashboard-no5cols">
            <div class="inner-no5cols"><a routerLink="/admin/master/customers" class="top5-dashcol">
                    <div class="no5cols-ico"><img src="../assets/images/dash-ico-1.png" alt=""></div>
                    <h1>{{this.customerdata[0]?.count}}</h1>
                    <p>{{this.customerdata[0]?.name}}</p>
                </a></div>

            <div class="inner-no5cols"><a routerLink="/admin/active-room-number" class="top5-dashcol top5-dashcol-2">
                    <div class="no5cols-ico"><img src="../assets/images/dash-ico-2.png" alt=""></div>
                    <h1>{{this.customerdata[1]?.count}}</h1>
                    <p>{{this.customerdata[1]?.name}}</p>
                </a></div>

            <div class="inner-no5cols"><a routerLink="/admin/repeated-customer" class="top5-dashcol top5-dashcol-3">
                    <div class="no5cols-ico"><img src="../assets/images/dash-ico-3.png" alt=""></div>
                    <h1>{{this.customerdata[2]?.count}}</h1>
                    <p>{{this.customerdata[2]?.name}}</p>
                </a></div>

            <div class="inner-no5cols"><a routerLink="/admin/happy-customer" class="top5-dashcol top5-dashcol-4">
                    <div class="no5cols-ico"><img src="../assets/images/dash-ico-4.png" alt=""></div>
                    <h1>{{this.customerdata[3]?.count}}</h1>
                    <p>{{this.customerdata[3]?.name}}</p>
                </a></div>

            <div class="inner-no5cols"><a routerLink="/admin/master/user" class="top5-dashcol top5-dashcol-5">
                    <div class="no5cols-ico"><img src="../assets/images/dash-ico-5.png" alt=""></div>
                    <h1>{{this.customerdata[4]?.count}}</h1>
                    <p>{{this.customerdata[4]?.name}}</p>
                </a></div>

            <div class="inner-no5cols"><a routerLink="/admin/poor-review" class="top5-dashcol top5-dashcol-6">
                    <div class="no5cols-ico"><img src="../assets/images/dash-ico-6.png" alt=""></div>
                    <h1>{{this.customerdata[5]?.count}}</h1>
                    <p>{{this.customerdata[5]?.name}}</p>
                </a></div>

        </div>


    </div>

    <div class="main-user-dash-left">

        <div class="topdash-cols">
            <ul>

                <a routerLink="/admin/inbox">
                    <li>
                        <div class="topin-dashcol">
                            <h3>{{this.conversationsdata[0]?.name}}</h3>
                            <div class="big-text">{{this.conversationsdata[0]?.count}}</div>
                        </div>
                    </li>
                </a>

                <a routerLink="/admin/chat-histroy">
                    <li>
                        <div class="topin-dashcol topin-dashcol2">
                            <h3>{{this.conversationsdata[1]?.name}}</h3>
                            <div class="big-text">{{this.conversationsdata[1]?.count}}</div>
                        </div>
                    </li>
                </a>

                <a routerLink="/admin/inbox">
                    <li>
                        <div class="topin-dashcol topin-dashcol3">
                            <h3>{{this.conversationsdata[2]?.name}}</h3>
                            <div class="big-text">{{this.conversationsdata[2]?.count}}</div>
                        </div>
                    </li>
                </a>

                <a routerLink="/admin/inbox/close">
                    <li>
                        <div class="topin-dashcol topin-dashcol4">
                            <h3>{{this.conversationsdata[3]?.name}}</h3>
                            <div class="big-text">{{this.conversationsdata[3]?.count}}</div>
                        </div>
                    </li>
                </a>

            </ul>

        </div>

    </div>

    <div class="main-user-dash-left">

        <div class="topdash-cols-escal">
            <ul>

                <a routerLink="/admin/escallation-level/TOTAL">
                    <li>
                        <div class="topin-dashcol-escal">
                            <h3>{{this.escalationdata[0]?.name}}</h3>
                            <div class="big-text">{{this.escalationdata[0]?.count}}</div>
                        </div>
                    </li>
                </a>

                <a routerLink="/admin/escallation-level/LEVEL_1">
                    <li>
                        <div class="topin-dashcol-escal topin-dashcol-escal2">
                            <h3>{{this.escalationdata[1]?.name}}</h3>
                            <div class="big-text">{{this.escalationdata[1]?.count}}</div>
                        </div>
                    </li>
                </a>

                <a routerLink="/admin/escallation-level/LEVEL_2">
                    <li>
                        <div class="topin-dashcol-escal topin-dashcol-escal3">
                            <h3>{{this.escalationdata[2]?.name}}</h3>
                            <div class="big-text">{{this.escalationdata[2]?.count}}</div>
                        </div>
                    </li>
                </a>

                <a routerLink="/admin/escallation-level/LEVEL_3 ">
                    <li>
                        <div class="topin-dashcol-escal topin-dashcol-escal4">
                            <h3>{{this.escalationdata[3]?.name}}</h3>
                            <div class="big-text">{{this.escalationdata[3]?.count}}</div>
                        </div>
                    </li>
                </a>

            </ul>

        </div>

    </div>



    <div class="below-dashboard-chart">

        <div class="row">

            <!-- <div class="col-md-4 col-sm-6" *ngIf="firstAgentResponseData">
                <div class="analybidcol analgrph">
                    <div class="info-tblg"><i class="las la-info-circle"></i></div>
                    <h3>{{this.firstAgentResponseData.graphName}}</h3>
                    <div class="anltbig-text">{{firstAgentResponseData.averageTime}} <small>min</small></div>
                    <div class="anltb-graph">

                        <canvasjs-chart [options]="chartOptionsNew" [styles]="{width: '100%', height:'200px'}">
                        </canvasjs-chart>

                    </div>
                </div>
            </div> -->

            <!-- <div class="col-md-4 col-sm-6" *ngIf="AgentResponsedata1">
                <app-loading-spin *ngIf="isProceess"></app-loading-spin>
                <div class="analybidcol analgrph">
                    <div class="info-tblg"><i class="las la-info-circle"></i></div>
                    <h3>{{AgentResponsedata1.graphName}}</h3>
                    <div class="anltbig-text">{{AgentResponsedata1.averageTime}} <small>min</small></div>
                    <div class="anltb-graph">

                        <canvasjs-chart [options]="chartOptionsNew1" [styles]="{width: '100%', height:'200px'}">
                        </canvasjs-chart>

                    </div>
                </div>
            </div> -->

            <!-- <div class="col-md-4 col-sm-12" *ngIf="graphresolutiondata">
                <div class="analybidcol analgrph">
                    <div class="info-tblg"><i class="las la-info-circle"></i></div>
                    <h3>{{graphresolutiondata.graphName}}</h3>
                    <div class="anltbig-text">{{graphresolutiondata.averageTime}} <small>min</small></div>
                    <div class="anltb-graph">


                        <canvasjs-chart [options]="chartOptionsNew2" [styles]="{width: '100%', height:'200px'}">
                        </canvasjs-chart>


                    </div>
                </div>
            </div> -->

        </div>

    </div>

</div>



<div class="inner-middle-content" *ngIf="isUser || isResolver || isApprover">
    <div class="data-tabs">
        <div class="main-user-dash-left" *ngIf="data && this.userData?.role?.roleName !== 'Admin' && !isProceess ">
            <div class="dash-blck-title">My Tickets </div>
            <div class="user-dash-left-card">
                <ul>
                    <a routerLink="/ticket">
                        <li>
                            <div class="u-dashbidcol">
                                <h3>{{data[0].name}}</h3>
                                <div class="big-text">{{data[0].total}} </div>
                            </div>
                        </li>
                    </a>
                    <a routerLink="/ticket">
                        <li>
                            <div class="u-dashbidcol u-dashbidcol2">
                                <h3>{{data[1].name}}</h3>
                                <div class="big-text">{{data[1].total}} </div>
                            </div>
                        </li>
                    </a>
                    <a routerLink="/ticket">
                        <li>
                            <div class="u-dashbidcol u-dashbidcol3">
                                <h3>{{data[2].name}}</h3>
                                <div class="big-text">{{data[2].total}} </div>
                            </div>
                        </li>
                    </a>
                    <a routerLink="/ticket">
                        <li>
                            <div class="u-dashbidcol u-dashbidcol6">
                                <h3>{{data[3].name}}</h3>
                                <div class="big-text">{{data[3].total}} </div>
                            </div>
                        </li>
                    </a>
                    <a routerLink="/ticket">
                        <li>
                            <div class="u-dashbidcol u-dashbidcol4">
                                <h3>{{data[4].name}}</h3>
                                <div class="big-text">{{data[4].total}} </div>
                            </div>
                        </li>
                    </a>
                    <a routerLink="/ticket">
                        <li>
                            <div class="u-dashbidcol u-dashbidcol5">
                                <h3>{{data[5].name}}</h3>
                                <div class="big-text">{{data[5].total}} </div>
                            </div>
                        </li>
                    </a>

                </ul>
            </div>
        </div>

        <div class="main-user-dash-left" *ngIf="data && this.userData?.role?.roleName === 'Admin' && !isProceess">
            <div class="user-dash-left-card">
                <ul>
                    <a routerLink="/admin/master/category-list">
                        <li>
                            <div class="u-dashbidcol">
                                <h3>{{data[0].name}}</h3>
                                <div class="big-text">{{data[0].total}} </div>
                            </div>
                        </li>
                    </a>

                    <a routerLink="/admin/master/subcategory-list">
                        <li>
                            <div class="u-dashbidcol u-dashbidcol2">
                                <h3>{{data[1].name}}</h3>
                                <div class="big-text">{{data[1].total}} </div>
                            </div>
                        </li>
                    </a>

                    <a routerLink="/admin/master/service-title-list">
                        <li>
                            <div class="u-dashbidcol u-dashbidcol3">
                                <h3>{{data[2].name}}</h3>
                                <div class="big-text">{{data[2].total}} </div>
                            </div>
                        </li>
                    </a>

                    <a [routerLink]="['/admin/master/department']">
                        <li>
                            <div class="u-dashbidcol u-dashbidcol4">
                                <h3>{{data[3].name}}</h3>
                                <div class="big-text">{{data[3].total}} </div>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>
        </div>



    </div>
    <!--data-tabs-->


</div>