<!-- <app-header></app-header> -->
<div class="static-page">

    <div class="page-title">
        <div class="main-logo"><a href="index.html"><img src="../assets/images/logo.png" alt=""></a>
            <h1 class="mb-0 me-1 text-center">Privacy Policy</h1>
        </div>
    </div>

    <div class="content">

        <p>Thank you for being a part of Customer Digital Connect - a product by Team Computers Private Limited. Your
            privacy is of utmost importance to us. Please carefully review the following statement to understand our
            information gathering and dissemination practices.</p>

        <h6>SCOPE:</h6>
        <p>Team Computers Private Limited (referred to as “the Company”, “we”, “our”, or “us”) offers a range of
            messaging software-as-a-service solutions through a unified platform to enable its clients to streamline
            communications with their users under the name and style of “Customer Digital Connect - a product by Team
            Computers Private Limited.” (referred to as “Solution”).By using, registering, or signing up for the
            Solution, you agree to the terms outlined in this Privacy Policy. Your submission of personal information
            signifies your acceptance of this Privacy Policy. This document is an electronic record and does not
            require physical or digital signatures.</p>

        <h6>CHANGES TO THE PRIVACY POLICY:</h6>
        <p>We are committed to handling your information in compliance with applicable laws and regulations in India.
            This Privacy Policy may be subject to changes based on business, legal, or regulatory requirements, and
            any updates will be reflected online. We will make every effort to communicate significant changes to you.
            Your continued use of the Solution after any modifications to this Privacy Policy implies acceptance of
            the changes.</p>

        <h6>PERSONAL INFORMATION WE COLLECT:</h6>
        <p>“Personal information” includes details such as your name, age, gender, contact information, messages, and
            business-related data. We collect, use, and share your personal information in various ways:</p>

        <h6>Collection:</h6>
        <p>We collect your personal information to provide requested services, complete transactions, or fulfill
            product orders.</p>

        <h6>Usage:</h6>
        <p>We utilize your personal information to validate requests, assist in order handling, communicate product
            details, improve Solution quality, offer personalized recommendations, resolve disputes, detect fraud, and
            enforce terms and conditions.</p>

        <h6>Sharing:</h6>
        <p>We may disclose your personal information to affiliates to provide services, display ads, offer search
            results, and enhance customer service. Additionally, we may share information with third parties to comply
            with legal obligations or protect against harm.</p>

        <h6>NON-PERSONAL INFORMATION WE COLLECT:</h6>
        <p>“Non-personal information” includes diagnostic, technical, and usage-related data that does not identify
            you personally. We collect, use, and share non-personal information as follows:</p>

        <h6>Collection:</h6>
        <p>We gather non-personal information for various purposes, such as improving Solution performance and
            providing support.</p>

        <h6>Usage:</h6>
        <p>Non-personal information is used to enhance the Solution, facilitate updates, and ensure compliance with
            this Privacy Policy.</p>

        <h6>Sharing:</h6>
        <p>We may provide partners or Third Party Service Providers with relevant diagnostic information, as long as
            it does not identify you personally.</p>

        <h6>CLOUD API:</h6>
        <p>Client data shared on the WhatsApp infrastructure will now reside on Cloud API's ("Data Residence"), a Meta
            Product. The WhatsApp infrastructure will be migrated to data centers in North America and the European
            Union via Cloud API service by Meta.</p>

        <h6>LOCATION SERVICES:</h6>
        <p>The Solution may access, collect, and analyze participation and usage data, including location information,
            to improve service performance. Location data is collected anonymously to enhance Solution services.</p>

        <h6>COOKIES:</h6>
        <p>We use both permanent and temporary cookies to enhance your experience with the Solution. Information
            collected by cookies is treated as non-personal information.</p>

        <h6>THIRD PARTY SERVICES:</h6>
        <p>Third Party Services available under the Solution are governed by their respective privacy policies. We are
            not responsible for the privacy practices or content of third-party services.</p>

        <h6>ACCESS, CORRECTION AND DELETION:</h6>
        <p>You are responsible for providing accurate and updated information. Deletion or withdrawal of consent may
            affect your access to the Solution. We strive to maintain accurate records, subject to certain
            limitations.</p>

        <h6>PROCESSING OF INFORMATION:</h6>
        <p>We may process personal and/or usage-related information collected for legitimate commercial purposes
            unless you explicitly opt out.</p>

        <h6>WAIVER OF LIABILITY:</h6>
        <p>We shall not be liable for indirect, incidental, consequential, special, or exemplary damages arising from
            your access or use of the Solution.</p>

        <h6>QUERIES AND COMPLAINTS:</h6>
        <p>
            We are committed to protect your personal information collected and processed by us and look forward to
            your continued support for the same. In case of any feedback or concern regarding protection of your
            personal information, or any privacy-related feedback or concerns, you may contact the Data Protection
            officer Rakesh Kanugula at <a [href]="'mailto:' + email">{{ email }}</a> for any other clarification.
        </p>



    </div>

</div>
