<div class="common-modal green-modal">
    <div class="modal-header">
        <h1 mat-dialog-title>{{ _labelsMaster?.labelName | titlecase }}</h1>

    </div>
    <div mat-dialog-content>
        <mat-dialog-content>
            <div class="row">
                <div class="col-md-4 mb-3" *ngFor="let item of labelItems">
                    <div class="content-item">
                        <strong>{{ item.label }}:</strong>
                        <p>{{ item.value }}</p>
                    </div>
                </div>
            </div>

            <!-- Dialog action -->
            <mat-dialog-actions align="end">
                <button mat-raised-button color="primary" (click)="onCancel()">Close</button>
            </mat-dialog-actions>
        </mat-dialog-content>
    </div>
</div>