<app-header></app-header>
<app-loading-spin *ngIf="isProceess"></app-loading-spin>
<div class="page-title">
    <h1>Category</h1>
</div>
<div class="page-btns-col">
    <div class="dt-buttons">
        <button mat-raised-button color="primary" (click)="onDownload()">
            Export to Excel
        </button>
        <mat-form-field appearance="fill">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Enter keyword" />
        </mat-form-field>
    </div>
    <div class="btn-group">
        <button mat-raised-button color="accent" (click)="onAdd()">
            Create new
        </button>
    </div>
</div>
<div class="inner-middle-content">
    <div class="dasboard-table dasboard-scroll">
        <div class="responsive-container mat-elevation-z8">

            <table mat-table [dataSource]="dataSource" matSort class="custom-table">

                <!-- Sr.No Column -->
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> Sr.No </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{ calculateIndex(page, i) }} </td>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                    <td mat-cell *matCellDef="let element"> {{ element.categoryName | titlecase }} </td>
                </ng-container>

                <!-- Created Date Column -->
                <ng-container matColumnDef="createdDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
                    <td mat-cell *matCellDef="let element"> {{ element.createdDate | date:'medium' }} </td>
                </ng-container>

                <!-- Created By Column -->
                <ng-container matColumnDef="createdBy">
                    <th mat-header-cell *matHeaderCellDef> Created By </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.createdBy?.firstName | titlecase }} {{ element.createdBy?.lastName || '' }}
                    </td>
                </ng-container>

                <!-- Updated Date Column -->
                <ng-container matColumnDef="updatedDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated Date </th>
                    <td mat-cell *matCellDef="let element"> {{ element.updatedDate | date:'medium' }} </td>
                </ng-container>

                <!-- Updated By Column -->
                <ng-container matColumnDef="updatedBy">
                    <th mat-header-cell *matHeaderCellDef> Updated By </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.updatedBy?.firstName || '' }} {{ element.updatedBy?.lastName || '' }}
                    </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{ element.status ? 'Active' : 'Deactivate' }} </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="action-cl"> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <a class="btnClick" (click)="onViewDetail(element)"><i class="las la-eye"></i></a>
                        <a class="btnClick" (click)="onEdit(element)"><i class="las la-edit"></i></a>
                        <a class="btnClick" *ngIf="element.status" (click)="onDelete(element)"><i
                                class="las la-trash-alt"></i></a>
                    </td>
                </ng-container>

                <!-- Header and Row Definitions -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <!-- Paginator -->
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>


    </div>

</div>
