
table {
  width: 100%;
}
/* Style the button group to display buttons in a single line */
.button-group {
    display: flex;              /* Use Flexbox for layout */
    gap: 1px;                   /* Space between buttons */
    justify-content: flex-start;/* Align buttons to the left */
    align-items: center;        /* Vertically center buttons */
}

/* Optional: Customize the appearance of the buttons */
button.mat-icon-button {
    border-radius: 50%; /* Fully rounded buttons */
    padding: 1px; /* Add padding to control the button size */
}

/* Optional: Add hover effect for better UX */
button.mat-icon-button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Slight background change on hover */
}


table {
  width: 100%;
}
.active-status {
  background-color: #4caf50; /* Green for Active */
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;
}

.deactivated-status {
  background-color: #f44336; /* Red for Deactivated */
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 14px;
}
