<div class="loading-spin" *ngIf="loading">
    <div class="d-flex justify-content-center">
        <div class="spinner-border">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<section class="login-wrapper">
    <div class="login-logo" routerLink="/login"><a><img src="../assets/images/logo.png" alt=""></a></div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <app-login-leftside></app-login-leftside>
            </div>
            <div class="col-lg-6">
                <div class="login-form-col">
                    <div class="login-headcontet">
                        <h1>Log in.</h1>
                    </div>
                    <form class="login-form" name="cform" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="username">Select a domain</label>

                            <!-- <ng-select [items]="subdomains" bindLabel="name"  formControlName="username" placeholder="Select a domain">
                                <ng-option *ngFor="let subdomain of subdomains" [value]="subdomain">{{ subdomain }}</ng-option>
                            </ng-select> -->


                            <ng-select [items]="subdomains" bindLabel="name" formControlName="username"
                                placeholder="Select a domain">
                                <ng-option *ngFor="let subdomain of subdomains" [value]="subdomain">
                                    <input type="checkbox" [checked]="subdomain === selectedSubdomain"
                                        (change)="onSubdomainChecked(subdomain)" />
                                    {{ subdomain }}
                                </ng-option>
                            </ng-select>

                            <div *ngIf="shouldShowError('username','required')" class="form-validate-err">
                                This field is required
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" [disabled]="loading" class="common-btn login-btn">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Login
                            </button>
                        </div>
                        <!-- <app-google-account></app-google-account> -->
                    </form>
                    <!-- <div class="gosignup-link text-center">Don't have an account yet? <a routerLink="/sign-up">Sign Up</a></div> -->
                </div>
            </div>
        </div>
    </div>
</section>
