<div class="loading-spin" *ngIf="loading">
    <div class="d-flex justify-content-center">
        <div class="spinner-border">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<div class="domain-page">

    <div class="domain-pic"><img src="../assets/images/domain-vector.jpg" class="img-responsive" alt=""></div>

    <div class="domain-form-col">
        <div class="domain-mainlogo">
            <img src="../assets/images/connecto-logo.png" alt="">
            <h1>Welcome back!</h1>
        </div>

        <form class="domain-form" name="cform" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Organization URL</label>
                <input type="text" class="form-control" formControlName="username" name="username" id="username"
                    placeholder="Enter your domain URL">
                <div *ngIf="shouldShowError('username','required')" class="form-validate-err">
                    Please enter your Organization URL
                </div>
            </div>


            <div class="form-group">
                <button type="submit" class="common-btn login-btn">Continue</button>
            </div>

        </form>

        <p class="copy-term">Powered by Team Computers</p>

    </div>

</div>
