<app-header></app-header>
<div class="page-title">
    <h1>Bulk Message</h1>
</div>

<div class="page-btns-col">
    <div class="dt-buttons">
        <!-- <button class="gray-btns" *ngIf="data.length > 0" (click)="onDownload()" type="button"><i
                class="las la-file-excel"></i> Excel</button> -->
        <div class="table-search"><input type="text" class="form-control" name="name" id="name" [(ngModel)]="term"
                autocomplete="off" placeholder="Search..." required=""></div>
    </div>

</div>