<h1 mat-dialog-title>View Category</h1>
<mat-dialog-content>
    <app-loading-spin-popup *ngIf="isProcess"></app-loading-spin-popup>
    <form class="common-modal-form" [formGroup]="categoryMasterForm">
        <div class="row">
            <div class="col-md-6 col-sm-12" *ngFor="let field of categoryFields">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{ field.label }}</mat-label>
                    <input matInput type="text" [formControlName]="field.formControlName"
                        [placeholder]="field.placeholder">
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button (click)="onCancel()">Close</button>
</mat-dialog-actions>